﻿@model IEnumerable<TodoAppCredo.Models.TaskItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Test App for Credo Mobile";
}
<h2>@ViewBag.Title.</h2>
<p>
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Task")
        </th>
        <th>
       @Html.DisplayName("Is Complete?")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
               
              
            </td>
            <td>
              
                @Html.CheckBoxFor(modelItem => item.isDone,  new { @disabled = "disabled" })
              
</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Remove", "Remove", new { id = item.id })
            </td>
        </tr>
    }
    <tr>
        
        <td>
            @using (Html.BeginForm("Add", "Home", FormMethod.Post))
            {
                @Html.TextBox("description", string.Empty, new { style = "width:150px;" })
                <input type="submit" value="Add Task" />
            }
        </td>
    </tr>
   
</table>


